/* ROOT */
:root{
    --grey:#808080;
    --white:white;
    --black:black;
    --heroBannerTop:62.2vh;
    --heroBannerLeft:15.3vw;
}
/* GENERAL */
*{
    margin: 0;
    width: 100%;
 }
 body{
    overflow-x: hidden;
 }

 /* NAVBAR */
 .nav{
    display: flex;
    width: 100vw;
    height: 16.5vh;
    align-items: center;
    z-index: 10;
 }
 .nav-logo{
    width: 12vw;
    height: 15.5vh;
    position: relative;
    left: 11.4vw;
    top: 0.5vh;
    
 }

 .nav-items{
    width: 35.93vw;
    position: relative;
    left: 43.020vw;
    top: 1.2vh;
   

 }

 .nav-item{
    margin: 0 1.5vw 0 0;
    overflow-x: visible;
    text-align: center;

 }

 /* LANDING SECTION */
 .landing-hero{
    width: 100vw;
    height: 100vh;
 }
 .landing-hero-banner>img{
    width: 95vw;
    height: 90vh;
    object-fit: cover;
    border-radius: 3px;
    z-index: 0;
 }
 .landing-hero-banner{
    text-align: center;
    overflow-y: hidden;
 }
 .landing-banner>img{
    width: 11.2vw;
    height: auto;
    position: absolute;
    top: var(--heroBannerTop);
    left: 2vw;
 }
 .landing-banner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.46);
    height: 90vh;
    width: 40vw;
    z-index: 1;
    top: 16.5vh;
    left: 2.5vw;
 }
 .landing-text{
  color: white;
  position: absolute;
  top: var(--heroBannerTop);
  left: var(--heroBannerLeft);
  z-index: 10;
  width: 22vw;
  height: auto;
  text-align: left;
  border-left: 6px solid white;
  padding-left: 10px;

 }
/* ABOUT SECTION */
 .about-hero>h1{
    text-align: center;
 }
 .about-cards{
   margin: 12vh 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
 }
 .about-pic{
   width: 35vw;
   

 }
 .about-pic>img{
   width: 13.802vw;
   height: auto;
   box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
 }
 .about-text{
   width: 35vw;
 }
 #oxson-clients{
   display: flex;
   flex-flow: row wrap;
   width: 45vw;
   align-content: center;
   justify-content: center;
 }
 .oxson-client{
   
   width:9.1vw ;
   height: 17vh;
   object-fit: cover;
   margin: 10px 5px;
   box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
 }
 .oxson-client>img{
   width:9.1vw ;
   height: 17vh;

 }
 .certification-category{
   /* width: 10%;
   column-span: 1; */
 }
 .about-table{
   width: 40vw;
   position: relative;
   right: 3vw;
   box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
 }
.certification-details{
   /* column-span: 3; */
}
 .certification-details>ul {
   list-style: disc;
   
 }
 
 .about-table tr{
   /* border-bottom : 3px solid var(--grey); */
 }

 /* MISSION SECTION */
 
 .mission-hero>h1{
text-align: center;
 }
 .mission-hero>p{
   text-align: center;
   position: relative;
 }
 .mission-cards{
   display: flex;
   width: 100vw;
   align-content: center;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   margin: 3vh;
   padding: 0 4vw;
}
 .mission-card{
   width: 100vw;
   display: flex;
  
 }
 
 .mission-card-black{
   color: white;
   background-color: rgb(33, 33, 33);
 }
