
/* ROOT */
:root{
    --grey:#808080;
    --white:white;
    --black:black;
    --heroBannerTop:62.2vh;
    --heroBannerLeft:15.3vw;
}
/* GENERAL */
html{
  scroll-behavior: smooth;
}
*{
    margin: 0;
    width: 100%;
 }
 body{
    overflow-x: hidden;
 }

 /* NAVBAR */
 .nav{
    display: flex;
    width: 100vw;
    height: 16.5vh;
    align-items: center;
    z-index: 10;
 }
 .nav-logo{
    width: 12vw;
    height: 15.5vh;
    position: relative;
    left: 11.4vw;
    top: 0.5vh;
    
 }

 .nav-items{
    width: 35.93vw;
    position: relative;
    left: 43.020vw;
    top: 1.2vh;
   

 }

 .nav-item{
    margin: 0 1.5vw 0 0;
    overflow-x: visible;
    text-align: center;

 }

 /* LANDING SECTION */
 .landing-hero{
    width: 100vw;
    height: 100vh;
 }
 .landing-hero-banner>img{
    width: 95vw;
    height: 90vh;
    object-fit: cover;
    border-radius: 3px;
    z-index: 0;
 }
 .landing-hero-banner{
    text-align: center;
    overflow-y: hidden;
 }
 .landing-banner>img{
    width: 11.2vw;
    height: auto;
    position: absolute;
    top: var(--heroBannerTop);
    left: 2vw;
 }
 .landing-banner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.46);
    height: 90vh;
    width: 40vw;
    z-index: 1;
    top: 16.5vh;
    left: 2.5vw;
 }
 .landing-text{
  color: white;
  position: absolute;
  top: var(--heroBannerTop);
  left: var(--heroBannerLeft);
  z-index: 10;
  width: 22vw;
  height: auto;
  text-align: left;
  border-left: 6px solid white;
  padding-left: 10px;

 }
/* ABOUT SECTION */
 .about-hero>h1{
    text-align: center;
 }
 .about-cards{
   margin: 12vh 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
 }
 .about-pic{
   width: 35vw;
   

 }
 .about-pic>img{
   width: 13.802vw;
   height: auto;
   box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
 }
 .about-text{
   width: 35vw;
 }
 #oxson-clients{
   display: flex;
   flex-flow: row wrap;
   width: 45vw;
   align-content: center;
   justify-content: center;
 }
 .oxson-client{
   
   width:9.1vw ;
   height: 17vh;
   margin: 10px 5px;
   box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
 }
 .oxson-client>img{
   width:9.1vw ;
   height: 17vh;
   
   object-fit: contain;

 }
 .certification-category{
   /* width: 10%;
   column-span: 1; */
 }
 .about-table{
   width: 40vw;
   position: relative;
   right: 3vw;
   box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
 }
.certification-details{
   /* column-span: 3; */
}
 .certification-details>ul {
   list-style: disc;
   
 }
 
 .about-table tr{
   /* border-bottom : 3px solid var(--grey); */
 }

 /* MISSION SECTION */
 
 .mission-hero>h1{
text-align: center;
margin-top: 15vh;
 }
 .mission-hero>p, .services-hero>h1, .portfolio-main>h2{
  /* color: blue; */
   text-align: center;
   width: 60vw;
   position: relative;
   left: 20vw;
   margin: 8vh 0;
 }

 .mission-cards{
   display: flex;
   width: 100vw;
   align-content: center;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
 
   padding: 0 4vw;
}
 .mission-card {
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
   margin: 6vh 0;
   position: relative;
   left: 10vw;
   border-radius: 40px 0 0 40px;
  }
  .mission-card-pic>img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 1vh;
  }
 
 .mission-card-black{
   color: white;
   background-color: rgb(33, 33, 33);
   box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
 }

.mission-card-text>p, .mission-card-pic{
  position: relative;
  right: 10vw; 
} 
.services-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vh 0;
}

.services-pics>img{
  width: 40vw;
  height: 48.5vh;
  position: relative;
  object-fit: cover;
  left: 8vw;
  border-radius: 5px;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
}
.services-card-text{
  width: 30vw;
  position: relative;
  right: 8vw;
}
.services-pics-odd>img{
  width: 40vw;
  height: 48.5vh;
  position: relative;
  object-fit: cover;
  left: 30vw;
  border-radius: 5px;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
}
.services-card-text-odd{
  width: 30vw;
  position: relative;
  left: 8vw;
}
.portfolio-main{
  margin: 18vh 0 8vh;
}
.portfolio-pics{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  position: relative;
  left: 5vw;
}
.portfolio-pics>img{
  margin: 10px;
  width: 27.6vw;
  height: 32.4vh;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
}

footer{
  color: white;
  background-color: black;
  width: 100vw;
  height: 80vh;
  
}
.footer-main{
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-offices, .footer-legals, .footer-contacts{
  display: flex;
  margin: 8vh 0;
}
.footer-office, .footer-sm-links, .footer-inquiry, .footer-contact, .footer-engage, .footer-copyright, .footer-legal , .footer-kiazend{
  width: 30%;
  padding: 0 6vw;
}
.footer-legal{
  visibility: hidden;
}
.footer-sm-links>a>img{
  width: 50px;
  object-fit: contain;
  height: 50px;
}
.footer-sm-links>a>img:hover{
  width: 60px;
  object-fit: contain;
  height: 60px;
}





